<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<script src="http://vuejs.org/js/vue.js"></script>
  <meta charset="gbk">
  <title>JS Bin</title>
<style>
#app{
  text-align: center;
  width: 320px;
  height: 80px;
  background: #ccc;
}
.name{
  color:red;
}
</style>
</head>
<body>
  <div id="app">
    <div v-on:click='counter+=1'>{{counter}}</div>
     <div v-on:click='greet'>{{vue}}</div>
    
    <a href="#" v-on:click.prevent.stop.capture.self>hello wolrd</a>
     <br/>
    <input type="text" @keydown.enter='testshow($event)' v-model='myaaa'>
     <br/>
    <input type="checkbox" v-model='mybbb'>
     <br/>
    <input type="radio" name='myrdo' value='1' v-model='myccc' @click='showNum($event)'>
    <input type="radio" name='myrdo' value='2' v-model='myccc' @click='showNum($event)'>
    <br/>
    <select v-model='myddd' @change='showNum($event)'>
      <option value="111">111</option>
      <option value="222">222</option>
    </select>
    
    <table>
      <tr>
        <td :style="{'width':'100px'}">操作</td>
        <td>编号</td>
        <td :class='nameClass'>姓名</td>
        <td>年纪</td>
        <td>状态</td>
      <tr>
      <tr v-for='user in listData'>
        <td>
          <a v-if="myPriv.isAdd">新增</a>
          <a v-if="myPriv.isEdit && user.status == '12781001' ">修改</a>
        </td>
        <td>{{user.id | testFilter}}</td>
        <td>{{user.name}}</td>
        <td :style="{'color':'blue'}">{{user.age}}</td>
        <td>{{user.status | statusStr}}</td>
      <tr>  
    </table>
    
  </div>
 
</body>
</html>

<script>
var app = new Vue({
  el:'#app',
  data:{
    counter:1,
    vue:'Vue.js',
    myaaa:'what the fxxk!',
    mybbb:true,
    myccc:'1',
    myddd:'',
    myPriv:{
      isAdd:true,
      isEdit:true
    },
    listData:[
      {
        id:'1',
        name:'zhangsan',
        age:20,
        status:'12781001'
      },
      {
        id:'2',
        name:'lisi',
        age:30,
        status:'12781002'
      }
    ]
  },
  methods:{
    greet:function(event){
      console.log('hello'+this.vue);
    },
    hello:function(event){
      console.log(event.target.tagName);
    },
    testshow:function(event){
      console.log("123");
    },
    showNum:function(event){
      console.log(event.target.value);
    }
  },
  computed:{
    nameClass:function(){
      return {'name':true};
    }
  },
  watch:{
    
  },
  filters:{
    testFilter:function(value){
      if(value=='1'){
        return 'XXXX';
      }else{
        return value;
      }
    },
    statusStr:function(value){
      if("12781001"==value){
        return "正常";
      }else{
        return "停用";
      }
    }
  }
});
</script>